<!--
    Copyright (c) 2019 RHEA System S.A.

    Author: Sam Gerené

    This file is part of CDP4-Web-Application

    CDP4-Web-Application is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    CDP4-Web-Application is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with CDP4-Web-Application. If not, see<https://www.gnu.org/licenses/>.
 -->

@page "/"
@inject ISessionAnchor SessionAnchor

<h1>Welcome to the CDP4 Web Application - Built using Blazor</h1>

@if (SessionAnchor.Session == null || SessionAnchor.Session.Credentials == null)
{
    <p>Please login</p>
    <form>
        <div class="form-group">
            <label for="username">User</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter Username" @bind="userName"/>
            <small id="usernameHelp" class="form-text text-muted">Please provide your Username; this is the shortname of a Person</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" @bind="password"/>
        </div>
        <button type="button" class="btn btn-primary" @onclick="@Login">Login</button>
    </form>
}
else
{
    <p>logged in user: @Person.Name </p>

    <button type="button" class="btn btn-primary" @onclick="@Logout">Logout</button>
}

@code{

    CDP4Common.SiteDirectoryData.Person Person = null;

    private string userName = string.Empty;

    private string password = string.Empty;

    /// <summary>
    /// Open the <see cref="ISession"/> and update the <see cref="ISessionAnchor"/>
    /// </summary>
    /// <returns>
    /// an awaitable task
    /// </returns>
    public async Task Login()
    {
        var uri = new Uri("http://localhost:5000");
        var credentials = new CDP4Dal.DAL.Credentials(this.userName, this.password, uri);
        var dal = new CdpServicesDal();

        var session = new Session(dal, credentials);
        await session.Open();

        this.SessionAnchor.Session = session;

        this.Person = session.ActivePerson;
    }

    /// <summary>
    /// Close the <see cref="ISession"/> and update the <see cref="ISessionAnchor"/>
    /// </summary>
    /// <returns>
    /// an awaitable task
    /// </returns>
    public async Task Logout()
    {
        await this.SessionAnchor.Session.Close();
        this.SessionAnchor.Session = null;
    }
}