<!--
    Copyright (c) 2019 RHEA System S.A.

    Author: Sam Gerené

    This file is part of CDP4-Web-Application

    CDP4-Web-Application is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    CDP4-Web-Application is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with CDP4-Web-Application. If not, see<https://www.gnu.org/licenses/>.
 -->

@page "/SiteDirectoryPoco"
@using CDP4ServicesDal
@using CDP4WspDal
@using CDP4Dal

<h3>SiteDirectoryPoco</h3>

@if (this.siteDirectory == null)
{
    <p>SiteDirectory Name: null </p>
}
else
{
    <p>SiteDirectory Name: @siteDirectory.Name </p>
}

@code {

    CDP4Common.SiteDirectoryData.SiteDirectory siteDirectory = null;

    protected override async Task OnInitAsync()
    {
        var uri = new Uri("http://localhost:5000");
        var credentials = new CDP4Dal.DAL.Credentials("admin", "pass", uri);
        var dal = new CdpServicesDal();
        //var dal = new WspDal();

        var session = new Session(dal, credentials);
        await session.Open();
        this.siteDirectory = session.RetrieveSiteDirectory();
    }

}